registry = https://bin.private.zooplus.net/artifactory/api/npm/npm-virtual/
bin.private.zooplus.net/artifactory/api/npm/npm-virtual/:username=npm-publish
bin.private.zooplus.net/artifactory/api/npm/npm-virtual/:password=bnBtLXB1Ymxpc2g=
email = npm-publish@zooplus.com
_auth=bnBtLXB1Ymxpc2g6bnBtLXB1Ymxpc2g=