:host {
	display: grid;
	grid-gap: 3px 0;
	width: 100%;
	height: max-content;
	box-sizing: border-box;
}

::slotted(input),
::slotted(textarea) {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

:host([invalid]) ::slotted(input),
:host([invalid]) ::slotted(textarea) {
	border: 2px solid var(--warning-mid);
	padding: 12px 14px;
}

::slotted(input[type="date"]),
::slotted(input[type="time"]) {
	-webkit-logical-height: 48px;
	max-height: 48px;
}

::slotted(input::placeholder),
::slotted(textarea::placeholder) {
	color: #767676;
}

::slotted(input:disabled),
::slotted(textarea:disabled) {
	border: 1px solid #E6E6E6;
	background: #F2F3F4;
	color: #767676;
	cursor: not-allowed;
}

::slotted(input:focus),
::slotted(textarea:focus) {
	border: 2px solid #555;
	padding: 12px 14px;
}

.content {
	display: flex;
	position: relative;
	grid-column: span 2;
	flex: 1;
}

zoo-info {
	grid-column: span 2;
}

zoo-link {
	text-align: right;
	max-width: max-content;
	justify-self: flex-end;
	padding: 0;
}
