.input-box, .select-box {
	width: 100%;
	display: grid;
	grid-template-areas:
		"label label link"
		"input input input"
		"info info info";
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3px;
	position: relative;
	@media only screen and (min-width: 500px) {
		&.left {
			grid-template-areas:
				"label link link"
				"label input input"
				"label info info";
		}
	}

	.input-label {
		grid-area: label;
		align-self: self-start;
		.label {
			font-size: 14px;
			font-weight: 800;
			line-height: 20px;
			color: $matterhorn;
		}
		.error {
			color: $error-text-color;
		}
	}
	.input-link {
		grid-area: link;
		align-self: flex-end;
	}
	.input-slot {
		grid-area: input;
		position: relative;
	}
	.input-info {
		grid-area: info;
	}
}
