// grayscale
$white: #FFFFFF;
$grey-ultralight: #F2F3F4;
$grey-light: #E6E6E6;
$grey-mid: #767676;
$grey-dark: #555555;
// primary
$primary-ultralight: #EBF4E5;
$primary-light: #66B100;
$primary-mid: #3C9700;
$primary-dark: #286400;
// secondary
$secondary-ultralight: #FFF0E7;
$secondary-light: #FF8800;
$secondary-mid: #FF6200;
$secondary-dark: #CC4E00;
// info
$info-ultralight: #ECF5FA;
$info-mid: #459FD0;
// warning
$warning-ultralight: #FDE8E9;
$warning-mid: #ED1C24;
$warning-dark: #BD161C;
// success
$success-ultralight: #EBF4E5;
$success-mid: #3C9700;

// font-sizes
$p1-size: 14px;
$p2-size: 12px;
$p3-size: 10px;
$p1-line-height: 20px;
$p2-line-height: 16px;
$p2-line-height: 14px;
$h1-size: 32px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;
$h1-line-height: 38px;
$h2-line-height: 29px;
$h3-line-height: 22px;
$h4-line-height: 22px;

// forms common
$input-border-radius: 5px;
