$error-text-color: #ED1C24;

// grayscale
$placeholder-color: #767676;
$border-color: #97999C;
$matterhorn: #555555;
$whisper: #E6E6E6;
$white: #FFFFFF;
$anti-flash-white: #F2F3F4;
$grey-chateau: #97999C;
$grey: #767676;

// zooplus theme
$main-color: #CFA124;
$main-color-light: #E3BA4A;
$main-color-dark: #B58D1C;

$secondary-color: #29308F;
$secondary-color-light: #42499D;
$secondary-color-dark: #22297E;