$error-text-color: #ED1C24;

// grayscale
$placeholder-color: #767676;
$border-color: #97999C;
$matterhorn: #555555;
$whisper: #E6E6E6;
$white: #FFFFFF;
$anti-flash-white: #F2F3F4;
$grey-chateau: #97999C;
$grey: #767676;

// zooplus theme
$main-color: #3C9700;
$main-color-light: #66B100;
$main-color-ultralight: #EBF4E5;
$main-color-dark: #286400;

$secondary-color: #FF6200;
$secondary-color-light: #FF8800;
$secondary-color-dark: #CC4E00;

$info-color: #459FD0;
$info-color-ultralight: #ECF5FA;

$warning-color: #ED1C24;
$warning-color-dark: #BD161C;
$warning-color-ultralight: #FDE8E9;

// font-sizes
$p1-size: 14px;
$p2-size: 12px;
$p3-size: 10px;
$p1-line-height: 20px;
$p2-line-height: 16px;
$p2-line-height: 14px;
