:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

button {
	display: none;
	width: 24px;
	opacity: 0;
	transition: opacity 0.1s;
	margin-left: 5px;
	padding: 0;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	background: #F2F3F4;

	--icon-color: black;
}

button:active {
	opacity: 0.5;
	transform: translateY(1px);
}

button:focus {
	opacity: 1;
}

:host(:hover) button {
	opacity: 1;
}

.swap {
	cursor: grab;
}

.swap:active {
	cursor: grabbing;
}

:host([sortable]) .sort,
:host([reorderable]) .swap {
	display: flex;
}

:host([sortstate='asc']) .sort {
	transform: rotate(180deg);
}

:host([sortstate]) .sort {
	opacity: 1;
	background: #F2F3F4;
}
