:host {
	height: 100%;
	width: 100%;
}

div {
	display: flex;
	align-items: center;
	position: relative;
	height: 17px;
	width: 40px;
	background: #E6E6E6;
	border-radius: 10px;
	border-width: 0;
	margin: 5px 0;
}

::slotted(input) {
	transition: transform 0.2s;
	transform: translateX(-30%);
	width: 60%;
	height: 24px;
	border: 1px solid #E6E6E6;
	border-radius: 50%;
	display: flex;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	background: white;
}

::slotted(input:checked) {
	transform: translateX(80%);
	background: var(--primary-mid);
}

::slotted(input:focus) {
	border-width: 2px;
	border: 1px solid #767676;
}

::slotted(input:disabled) {
	background: #F2F3F4;
	cursor: not-allowed;
}
