:host {
	position: relative;
}

.close {
	display: none;
	position: absolute;
	top: 15px;
	right: 14px;
	cursor: pointer;
	z-index: 1;
}

:host([valueselected]) .close {
	display: flex;
}

zoo-tooltip {
	display: none;
}

:host(:hover) zoo-tooltip,
:host(:focus) zoo-tooltip {
	display: grid;
}

::slotted(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	background: white;
	padding: 13px 15px;
	border: 1px solid #767676;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: none;
	position: absolute;
	z-index: 2;
	top: 90%;
	font-size: 14px;
	display: none;
}

:host(:focus-within) ::slotted(select) {
	border: 2px solid #555;
	border-top: none;
	padding: 12px 14px;
}

zoo-input:focus-within ::slotted(select) {
	display: grid;
}

:host([invalid]) ::slotted(select) {
	border: 2px solid var(--warning-mid);
	border-top: none;
	padding: 12px 14px;
}
