:host {
	contain: layout;
}

nav {
	display: flex;
	width: 100%;
	height: 56px;
	padding: 0 20px;
	box-sizing: border-box;
	background: linear-gradient(to right, var(--primary-mid), var(--primary-light));
	overflow-y: hidden;
	overflow-x: auto;
}

::slotted(*) {
	cursor: pointer;
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	height: 100%;
	color: white;
	padding: 0 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

::slotted(*:hover),
::slotted(*:focus) {
	background: rgba(255, 255, 255, 0.2);
}
