:host {
	contain: layout;
}

nav {
	display: flex;
	width: 100%;
	height: 56px;
	padding: 0 20px;
	box-sizing: border-box;
	background: linear-gradient(to right, var(--primary-mid), var(--primary-light));
}

:host([direction="vertical"]) nav {
	flex-direction: column;
	height: auto;
	width: max-content;
	background: transparent;
	padding: 0;
}

::slotted(*) {
	cursor: pointer;
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	height: 100%;
	color: white;
	padding: 0 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}

::slotted(*:hover),
::slotted(*:focus) {
	background: rgba(255, 255, 255, 0.2);
}

:host([direction="vertical"]) ::slotted(*) {
	padding: 10px 5px;
	color: initial;
	box-sizing: border-box;
}

:host([direction="vertical"]) ::slotted(*:hover),
:host([direction="vertical"]) ::slotted(*:focus) {
	background: rgba(0, 0, 0, 0.07);
}
