:host {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 20px;

	--box-shadow-color: #767676;
	--box-shadow-width: 1px;
	--box-shadow-color2: transparent;
	--box-shadow-width2: 1px;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
}

.radio-group {
	display: flex;
	padding: 11px 0;
}

:host([invalid]) {
	color: var(--warning-mid);
}

::slotted(input) {
	position: relative;
	min-width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 0 2px 0 0;
	padding: 4px;
	background-clip: content-box;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	box-shadow: inset 0 0 0 var(--box-shadow-width) var(--box-shadow-color), inset 0 0 0 var(--box-shadow-width2) var(--box-shadow-color2);
}

:host([invalid]) ::slotted(input) {
	--box-shadow-color: var(--warning-mid);
}

::slotted(input:focus) {
	--box-shadow-color: var(--primary-mid);
	--box-shadow-width: 2px;
}

::slotted(input:checked) {
	background-color: var(--primary-mid);

	--box-shadow-color: var(--primary-mid);
	--box-shadow-width: 2px;
	--box-shadow-width2: 4px;
	--box-shadow-color2: white;
}


:host([invalid]) ::slotted(input:checked) {
	background-color: var(--warning-mid);
}

::slotted(input:disabled) {
	cursor: not-allowed;
	background-color: #555;

	--box-shadow-width: 2px;
	--box-shadow-width2: 5px;
	--box-shadow-color: #555 !important;
}

::slotted(label) {
	cursor: pointer;
	margin: 0 5px;
	align-self: center;
}

:host([labelposition="left"]) fieldset {
	display: grid;
	grid-gap: 3px;
}

:host([labelposition="left"]) .radio-group {
	grid-column: 2;
}

:host([labelposition="left"]) legend,
:host([labelposition="left"]) .radio-group {
	grid-row: 1;
	display: flex;
	align-items: center;
}

:host([labelposition="left"]) legend {
	display: contents;
}

:host([labelposition="left"]) legend zoo-label {
	display: flex;
	align-items: center;
}

:host([labelposition="left"]) zoo-info[role="status"] {
	grid-row: 2;
	grid-column: 2;
}

:host([labelposition="left"]) zoo-info[role="alert"] {
	grid-row: 3;
	grid-column: 2;
}
