:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.sort,
.swap {
	display: none;
	width: 22px;
	opacity: 0;
	transition: opacity 0.1s;
	margin-left: 5px;
	background: transparent;
	padding: 0;
	border: 0;
	cursor: pointer;

	--icon-color: black;
}

.sort zoo-arrow-icon,
.swap svg {
	border-radius: 5px;
	background: #F2F3F4;
}

.sort:active {
	opacity: 0.5;
	transform: translateY(1px);
}

.swap {
	cursor: grab;
}

:host(:hover) .swap,
:host(:hover) .sort {
	opacity: 1;
}

.sort:focus,
.swap:focus {
	opacity: 1;
}

.swap:active {
	cursor: grabbing;
}

:host([sortable]) .sort,
:host([reorderable]) .swap {
	display: flex;
}

:host([sortstate='asc']) .sort {
	transform: rotate(180deg);
}

:host([sortstate]) .sort {
	opacity: 1;
	background: #F2F3F4;
}
