:host {
	padding: 0 10px;
	display: flex;
	flex-direction: column;
}

:host([border-visible]) {
	margin: 8px 0;
}

details {
	padding: 10px;
}

:host([border-visible]) details {
	color: var(--primary-dark);
	border: 1px solid var(--primary-mid);
	border-radius: 3px;
}

details[open] {
	color: var(--primary-dark);
	border: 1px solid var(--primary-mid);
	border-radius: 3px;
}

summary {
	cursor: pointer;
	color: var(--primary-mid);
	font-weight: 700;
}
