:host {
	contain: style;
}

header {
	display: flex;
	align-items: center;
	background: #FFF;
	padding: 0 25px;
	height: 70px;
}

::slotted(img) {
	height: 46px;
	padding: 5px 25px 5px 0;
	cursor: pointer;
}

::slotted(*[slot="headertext"]) {
	color: var(--primary-mid);
}

@media only screen and (max-width: 544px) {
	::slotted(img) {
		height: 36px;
		display: inline-block;
		padding: 5px 25px 5px 0;
		cursor: pointer;
	}

	::slotted(*[slot="headertext"]) {
		display: none;
	}
}
