:host {
	display: none;
	contain: style;
}

.box {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, var(--zoo-modal-opacity, 0.8));
	opacity: 0;
	transition: opacity 0.3s;
	z-index: var(--zoo-modal-z-index, 9999);
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	will-change: opacity;
	transform: translateZ(0);
}

.dialog-content {
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	background: white;
	overflow-y: auto;
	max-height: 95%;
	border-radius: 5px;
	animation-name: anim-show;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@media only screen and (max-width: 544px) {
	.dialog-content {
		padding: 25px;
	}
}

@media only screen and (max-width: 375px) {
	.dialog-content {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: none;
	}
}

.heading {
	display: flex;
	align-items: flex-start;
}

::slotted(*[slot="header"]) {
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	margin: 30px 0;
}

.close {
	cursor: pointer;
	background: transparent;
	border: 0;
	padding: 0;
	margin: 30px 0 30px auto;

	--icon-color: var(--primary-mid);
}

.show {
	opacity: 1;
}

.hide .dialog-content {
	animation-name: anim-hide;
}

@keyframes anim-show {
	0% {
		opacity: 0;
		transform: scale3d(0.9, 0.9, 1);
	}

	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-hide {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale3d(0.9, 0.9, 1);
	}
}
