:host {
	display: flex;
	padding: 2px;
	font-size: 12px;
	line-height: 16px;
	color: #555;
	align-items: center;
}

svg {
	padding-right: 5px;
	min-width: 18px;
	align-self: flex-start;
	fill: var(--warning-mid, #ED1C24);
}
