:host {
	--input-length: 1ch;
}

svg line {
	stroke-width: 1.5;
	stroke: #FFF;
}

div {
	height: 36px;
	display: flex;
}

button {
	border-width: 0;
	min-width: 30px;
	background: var(--primary-mid);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	cursor: pointer;
}

button:first-child {
	border-radius: 5px 0 0 5px;
}

button:last-child {
	border-radius: 0 5px 5px 0;
}

button:disabled {
	background: #F2F3F4;
	cursor: not-allowed;
}

button:disabled svg line {
	stroke: #767676;
}

::slotted(input) {
	width: var(--input-length);
	min-width: 30px;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	border: none;
	color: #555;
	outline: none;
	box-sizing: border-box;
	-moz-appearance: textfield;
	background: #FFF;
	text-align: center;
}

zoo-input-info {
	display: block;
	margin-top: 2px;
}

::slotted(label) {
	align-self: self-start;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: #555;
	text-align: left;
}
