:host {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
}

.checkbox {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}

::slotted(label) {
	display: flex;
	align-items: center;
	cursor: pointer;
}

:host([highlighted]) .checkbox {
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	padding: 11px 15px;
}

:host([disabled]) .checkbox,
:host([disabled]) ::slotted(label) {
	cursor: not-allowed;
}

:host([highlighted]) .checkbox.clicked {
	border: 2px solid var(--primary-mid, #3C9700);
}

:host([highlighted][invalid]) .checkbox {
	border: 2px solid var(--warning-mid, #ED1C24);
}

label {
	display: flex;
	align-items: center;
}

zoo-input-info {
	display: flex;
	align-self: flex-start;
	margin-top: 2px;
}

::slotted(input[type="checkbox"]) {
	position: relative;
	display: flex;
	min-width: 24px;
	height: 24px;
	border-radius: 3px;
	border: 1px solid #767676;
	margin: 0 10px 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
}

::slotted(input[type="checkbox"]:checked) {
	border: 1px solid var(--primary-mid, #3C9700);
}

::slotted(input[type="checkbox"]:focus) {
	border-width: 2px;
}

::slotted(input[type="checkbox"]:disabled) {
	border-color: #E6E6E6;
	background-color: #F2F3F4;
	cursor: not-allowed;
}

.check {
	display: none;
	position: absolute;
	margin: 1px;
}

.clicked .check {
	display: flex;
	fill: var(--primary-mid, #3C9700);
}

:host([disabled]) .check {
	fill: #767676;
}

:host([invalid]) .check {
	fill: var(--warning-mid, #ED1C24);
}

:host([invalid]) ::slotted(input[type="checkbox"]),
:host([invalid]) ::slotted(input[type="checkbox"]:checked) {
	border-color: var(--warning-mid, #ED1C24);
}
