:host {
	display: none;
	top: 20px;
	right: 20px;
	position: fixed;
	z-index: 10001;
	contain: layout;

	--color-ultralight: var(--info-ultralight);
	--color-mid: var(--info-mid);
	--svg-padding: 0;
}

:host([type="error"]) {
	--color-ultralight: var(--warning-ultralight);
	--color-mid: var(--warning-mid);
}

:host([type="success"]) {
	--color-ultralight: var(--primary-ultralight);
	--color-mid: var(--primary-mid);
}

div {
	max-width: 330px;
	min-height: 50px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
	border-left: 3px solid var(--color-mid);
	display: flex;
	align-items: center;
	word-break: break-word;
	font-size: 14px;
	line-height: 20px;
	padding: 15px;
	transition: transform 0.3s, opacity 0.4s;
	opacity: 0;
	transform: translate3d(100%, 0, 0);
	background: var(--color-ultralight);
	border-radius: 5px;
}

svg {
	padding-right: 10px;
	min-width: 48px;
	fill: var(--color-mid);
}

.show {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
