:host {
	display: grid;
	grid-gap: 3px;
	width: 100%;
	height: max-content;
	box-sizing: border-box;

	--input-tag-padding-top-bottom-default: 13px;
	--input-tag-padding-left-right-default: 15px;
	--input-tag-padding-reduced: calc(var(--input-tag-padding-top-bottom, var(--input-tag-padding-top-bottom-default)) - 1px) calc(var(--input-tag-padding-left-right, var(--input-tag-padding-left-right-default)) - 1px);
}

#input-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: max-content;
	gap: 5px;
	font-size: 14px;
	line-height: 20px;
	padding: var(--input-tag-padding-top-bottom, var(--input-tag-padding-top-bottom-default)) var(--input-tag-padding-left-right, var(--input-tag-padding-left-right-default));
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555;
	box-sizing: border-box;
	grid-column: span 2;
	position: relative;
	overflow: visible;
}

:host(:focus-within) #input-wrapper {
	border: 2px solid #555;
	padding: var(--input-tag-padding-reduced);
}

:host([show-tags]) #input-wrapper {
	z-index: 2;
}

:host([invalid]) #input-wrapper {
	border: 2px solid var(--warning-mid);
	padding: var(--input-tag-padding-reduced);
}

::slotted(input) {
	border: 0;
	min-width: 50px;
	flex: 1 0 auto;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	color: #555;
}

zoo-label {
	grid-row: 1;
}

#tag-options {
	display: none;
	position: absolute;
	flex-wrap: wrap;
	background: white;
	padding: 5px var(--input-tag-padding-left-right, var(--input-tag-padding-left-right-default));
	border: 1px solid #555;
	border-radius: 0 0 3px 3px;
	left: -1px;
	top: calc(90% + 2px);
	border-top: 0;
	width: calc(100% + 2px);
	box-sizing: border-box;
	max-height: var(--input-tag-options-max-height, fit-content);
	overflow: var(--input-tag-options-overflow, auto);
}

:host(:focus-within) #tag-options,
:host([invalid]) #tag-options {
	border-width: 2px;
	width: calc(100% + 4px);
	left: -2px;
	padding-left: calc(var(--input-tag-padding-left-right, var(--input-tag-padding-left-right-default)) - 1px);
	padding-right: calc(var(--input-tag-padding-left-right, var(--input-tag-padding-left-right-default)) - 1px);
}

:host([invalid]) #tag-options {
	border-color: var(--warning-mid);
}

:host([show-tags]) #tag-options {
	display: flex;
}

::slotted(*[slot="select"]) {
	display: none;
}

zoo-info {
	grid-column: span 2;
}

zoo-cross-icon {
	cursor: pointer;

	--icon-color: var(--primary-mid);
}

::slotted(zoo-input-tag-option) {
	box-sizing: border-box;
	width: 100%;
}

::slotted(zoo-input-tag-option:hover),
::slotted(zoo-input-tag-option[selected]:hover) {
	background: var(--item-hovered, #E6E6E6);
}

::slotted(zoo-input-tag-option[selected]) {
	background: var(--primary-ultralight);
}

