:host {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 5px;
	overflow: auto;
	flex-grow: 1;
	font-size: 12px;
	gap: 3px;
}

:host(:hover) {
	background: var(--primary-ultralight);
}