:host {
	display: grid;
	grid-gap: 3px 0;
	width: 100%;
	height: max-content;
	box-sizing: border-box;
}

.close,
.arrows {
	position: absolute;
	right: 10px;
	top: 12px;
}

.close {
	cursor: pointer;
	right: 11px;
	top: 14px;
	display: none;
}

.arrows {
	pointer-events: none;
}

.arrows path {
	fill: var(--primary-mid, #3C9700);
}

:host([invalid]) .arrows path {
	fill: var(--warning-mid, #ED1C24);
}

:host([disabled]) .arrows path {
	fill: #E6E6E6;
}

:host([valueselected]) .close {
	display: flex;
}

:host([valueselected]) .arrows {
	display: none;
}

::slotted(select) {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	background: white;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 25px 13px 15px;
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

::slotted(select:disabled) {
	border: 1px solid #E6E6E6;
	background-color: #F2F3F4;
	color: #767676;
}

::slotted(select:disabled:hover) {
	cursor: not-allowed;
}

::slotted(select:focus) {
	border: 2px solid #555;
	padding: 12px 24px 12px 14px;
}

:host([invalid]) ::slotted(select) {
	border: 2px solid var(--warning-mid, #ED1C24);
	padding: 12px 24px 12px 14px;
}

::slotted(label) {
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: #555;
	text-align: left;
}

slot[name="selectlabel"] {
	grid-row: 1;
	align-self: flex-start;
	display: flex;
}

div {
	position: relative;
	grid-row: 2;
	grid-column: span 2;
}

zoo-input-info {
	grid-row: 3;
	grid-column: span 2;
}

:host([multiple]) svg {
	display: none;
}

:host([labelposition="left"]) {
	grid-gap: 0 3px;
}

:host([labelposition="left"]) slot[name="selectlabel"] {
	grid-row: 2;
	grid-column: 1;
	height: 100%;
	display: flex;
	align-items: center;
}

:host([labelposition="left"]) div {
	grid-column: 2;
	grid-row: 2;
}

a {
	text-align: right;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: var(--primary-dark, #286400);
	justify-self: flex-end;
	align-self: center;
	grid-row: 1;
}

a:visited {
	color: var(--primary-mid, #3C9700);
}

a:hover,
a:focus,
a:active {
	color: var(--primary-dark, #286400);
}

:host([labelposition="left"]) a {
	grid-column: span 2;
}
