:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

svg {
	display: none;
	min-width: 20px;
	width: 20px;
	opacity: 0;
	transition: opacity 0.1s;
	margin-left: 5px;
	border-radius: 5px;
	background: #F2F3F4;
}

:host(:hover) svg,
:host(:focus) svg {
	opacity: 1;
}

.arrow {
	cursor: pointer;
	transform: rotate(0deg);
}

.arrow:active {
	opacity: 0.5;
	transform: translateY(1px);
}

.swap {
	cursor: grab;
}

.swap:active {
	cursor: grabbing;
}

:host([sortable]) .arrow,
:host([reorderable]) .swap {
	display: flex;
}

:host([sortstate='asc']) .arrow {
	transform: rotate(180deg);
}

:host([sortstate]) .arrow {
	opacity: 1;
	background: #F2F3F4;
}
