:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

svg,
zoo-arrow-icon {
	display: none;
	min-width: 20px;
	width: 20px;
	opacity: 0;
	transition: opacity 0.1s;
	margin-left: 5px;
	border-radius: 5px;
	background: #F2F3F4;

	--icon-color: black;
}

zoo-arrow-icon {
	cursor: pointer;
	transform: rotate(0deg);
}

zoo-arrow-icon:active {
	opacity: 0.5;
	transform: translateY(1px);
}

:host(:hover) svg,
:host(:hover) zoo-arrow-icon {
	opacity: 1;
}

.swap {
	cursor: grab;
}

.swap:active {
	cursor: grabbing;
}

:host([sortable]) zoo-arrow-icon,
:host([reorderable]) .swap {
	display: flex;
}

:host([sortstate='asc']) zoo-arrow-icon {
	transform: rotate(180deg);
}

:host([sortstate]) zoo-arrow-icon {
	opacity: 1;
	background: #F2F3F4;
}
