:host {
	contain: layout;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0 5px;
	font-size: 14px;
	line-height: 16px;

	--color-normal: var(--primary-mid);
	--color-active: var(--primary-dark);
}

:host([type="negative"]) {
	--color-normal: white;
	--color-active: var(--primary-dark);
}

:host([type="grey"]) {
	--color-normal: #767676;
	--color-active: var(--primary-dark);
}

:host([type="warning"]) {
	--color-normal: var(--warning-mid);
	--color-active: var(--warning-dark);
}

:host([size="large"]) {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

::slotted(a) {
	text-decoration: none;
	padding: 0 2px;
	color: var(--color-normal);
	width: 100%;
}

::slotted(a:hover),
::slotted(a:focus),
::slotted(a:active) {
	color: var(--color-active);
}
