:host {
	contain: style;
}

nav {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, var(--primary-mid), var(--primary-light));
	padding: 10px 30px;
}

div {
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	background: #FFF;
	color: #555;
	padding: 10px 0 10px 30px;
}

::slotted(zoo-link) {
	width: max-content;
}

@media only screen and (max-width: 544px) {
	div {
		text-align: center;
		padding: 10px 0;
	}
}
