:host {
	display: grid;
	grid-gap: 3px;
	width: 100%;
	height: max-content;
	box-sizing: border-box;
}

.cross {
	display: none;
	position: absolute;
	top: 12px;
	right: 14px;
	cursor: pointer;
	border: 0;
	padding: 0;
	background: transparent;
}

:host([value-selected]) .cross {
	display: flex;
}

zoo-tooltip {
	display: none;
}

:host(:hover) zoo-tooltip,
:host(:focus) zoo-tooltip {
	display: grid;
}

zoo-select {
	border-top: none;
	position: absolute;
	z-index: 2;
	top: 59%;
	display: none;

	--icons-display: none;
}

:host(:focus-within) zoo-select {
	display: grid;
}

slot[name="selectlabel"] {
	display: none;
}

:host(:focus-within) slot[name="selectlabel"] {
	display: block;
}

:host(:focus-within) ::slotted(select) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 2px solid #555;
	border-top: none !important;
}

:host([invalid]) ::slotted(select) {
	border: 2px solid var(--warning-mid);
}

zoo-preloader {
	display: none;
}

:host([loading]) zoo-preloader {
	display: flex;
}

::slotted(*[slot="inputlabel"]),
::slotted(*[slot="selectlabel"]) {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

zoo-link {
	text-align: right;
	max-width: max-content;
	justify-self: flex-end;
	padding: 0;
}

zoo-label,
zoo-link {
	grid-row: 1;
}

zoo-input {
	grid-gap: 0;
	grid-column: span 2;
}

:host(:focus-within) ::slotted(input) {
	border: 2px solid #555;
	padding: 12px 14px;
}

:host([invalid]) ::slotted(input) {
	border: 2px solid var(--warning-mid);
	padding: 12px 14px;
}

:host([labelposition="left"]) zoo-link {
	grid-column: 2;
}

:host([labelposition="left"]) zoo-label,
:host([labelposition="left"]) zoo-input {
	display: flex;
	align-items: center;
	grid-row: 2;
}

:host([labelposition="left"]) zoo-info[role="status"] {
	grid-row: 3;
	grid-column: 2;
}

:host([labelposition="left"]) zoo-info[role="alert"] {
	grid-row: 4;
	grid-column: 2;
}
