:host {
	position: relative;
}

.cross {
	display: none;
	position: absolute;
	top: 12px;
	right: 14px;
	cursor: pointer;
	border: 0;
	padding: 0;
	background: transparent;
}

:host([value-selected]) .cross {
	display: flex;
}

zoo-tooltip {
	display: none;
}

:host(:hover) zoo-tooltip,
:host(:focus) zoo-tooltip {
	display: grid;
}

zoo-select {
	border-top: none;
	position: absolute;
	z-index: 2;
	top: 85%;
	display: none;

	--icons-display: none;
}

:host(:focus-within) zoo-select {
	display: grid;
}

slot[name="selectlabel"] {
	display: none;
}

:host(:focus-within) slot[name="selectlabel"] {
	display: block;
}

:host(:focus-within) ::slotted(select) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 2px solid #555;
	border-top: none !important;
}

:host([invalid]) ::slotted(select) {
	border: 2px solid var(--warning-mid);
}

zoo-preloader {
	display: none;
}

:host([loading]) zoo-preloader {
	display: flex;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
}

::slotted(*[slot="inputlabel"]),
::slotted(*[slot="selectlabel"]) {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/** todo in v9 remove styles for input leaving ::slotted(input) **/

input {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

input:disabled {
	border: 1px solid #E6E6E6;
	background: #F2F3F4;
	color: #767676;
	cursor: not-allowed;
}

:host(:focus-within) input,
:host(:focus-within) ::slotted(input) {
	border: 2px solid #555;
	padding: 12px 14px;
}

:host([invalid]) input,
:host([invalid]) ::slotted(input) {
	border: 2px solid var(--warning-mid);
	padding: 12px 14px;
}

input::placeholder {
	color: #767676;
}
