@import "variables";
.box {
	width: 100%;
	display: grid;
	grid-template-areas:
		"label label link"
		"input input input"
		"info info info";
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3px;
	position: relative;
	@media only screen and (min-width: 500px) {
		&.left {
			grid-template-areas:
				"label link link"
				"label input input"
				"label info info";
		}
	}
	.input-label {
		grid-area: label;
		align-self: self-start;
		padding-right: 10px;
		padding-top: 15px;
	}
	.input-link {
		grid-area: link;
		text-align: right;
		align-self: flex-end;
	}
	.input-slot {
		grid-area: input;
		position: relative;
	}
	.input-info {
		grid-area: info;
	}
}
