$error-text-color: #ED1C24;

// grayscale
$placeholder-color: #767676;
$border-color: #97999C;
$main-text-color: #555555;
$whisper: #E6E6E6;
$white: #FFFFFF;
$anti-flash-white: #FFFFFF;
$grey-chateau: #97999C;
$grey: #767676;

// zooplus theme
$main-color: #3C9700;
$main-color-light: #66B100;
$main-color-dark: #286400;