:host {
	display: grid;
	grid-gap: 3px 0;
	width: 100%;
	height: max-content;
}

zoo-attention-icon {
	position: absolute;
	right: 15px;
	top: 15px;
	pointer-events: none;
	opacity: 0;

	--icon-color: var(--warning-mid);
}

:host([invalid]) zoo-attention-icon {
	opacity: 1;
}

::slotted(input),
::slotted(textarea) {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #FFF;
}

:host([invalid]) ::slotted(input),
:host([invalid]) ::slotted(textarea) {
	border: 2px solid var(--warning-mid);
	padding: 12px 14px;
}

::slotted(input[type="date"]),
::slotted(input[type="time"]) {
	-webkit-min-logical-height: 48px;
}

::slotted(input::placeholder),
::slotted(textarea::placeholder) {
	color: #767676;
}

::slotted(input:disabled),
::slotted(textarea:disabled) {
	border: 1px solid #E6E6E6;
	background-color: #F2F3F4;
	color: #767676;
	cursor: not-allowed;
}

::slotted(input:focus),
::slotted(textarea:focus) {
	border: 2px solid #555;
	padding: 12px 14px;
}

zoo-label {
	align-self: self-start;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: #555;
	text-align: left;
	grid-row: 1;
}

.content {
	display: flex;
	justify-content: stretch;
	position: relative;
	grid-row: 2;
	grid-column: span 2;
	flex: 1;
}

.info {
	grid-row: 3;
	grid-column: span 2;
}

.error {
	display: none;
	grid-row: 4;
	grid-column: span 2;

	--icon-color: var(--warning-mid);
}

:host([invalid]) .error {
	display: flex;
}

zoo-link {
	width: max-content;
	justify-self: end;
	padding: 0;
}
