:host {
	display: grid;
	grid-gap: 3px 0;
	width: 100%;
	height: max-content;
}
svg {
	position: absolute;
	right: 15px;
	top: 15px;
	color: var(--warning-mid, #ED1C24);
	pointer-events: none;
	opacity: 0;
}

svg path {
	fill: var(--warning-mid, #ED1C24);
}

:host([invalid]) div svg {
	opacity: 1;
}

:host([invalid]) div ::slotted(input), :host([invalid]) div ::slotted(textarea) {
	border: 2px solid var(--warning-mid, #ED1C24);
	padding: 12px 14px;
}

::slotted(input), ::slotted(textarea) {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #767676;
	border-radius: 5px;
	color: #555555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #FFFFFF;
}

::slotted(input[type="date"]), ::slotted(input[type="time"]) {
	-webkit-min-logical-height: 48px;
}

::slotted(input::placeholder), ::slotted(textarea::placeholder) {
	color: #767676;
	opacity: 1;
}

::slotted(input:disabled), ::slotted(textarea:disabled) {
	border: 1px solid #E6E6E6;
	background-color: #F2F3F4;
	color: #767676;
	cursor: not-allowed;
}

::slotted(input:focus), ::slotted(textarea:focus) {
	border: 2px solid #555555;
	padding: 12px 14px;
}

::slotted(label) {
	grid-area: label;
	align-self: self-start;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: #555555;
	text-align: left;
}
slot[name="inputlabel"] {
	grid-row: 1;
	align-self: flex-start;
	display: flex;
}
div {
	position: relative;
	grid-row: 2;
	grid-column: span 2;
}
zoo-input-info {
	grid-row: 3;
	grid-column: span 2;
}
a {
	text-align: right;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: var(--primary-dark, #286400);
	justify-self: flex-end;
	align-self: center;
	grid-row: 1;
}
a:visited {
	color: var(--primary-mid, #3C9700);
}
a:hover, a:focus, a:active {
	color: var(--primary-dark, #286400);
}