:host {
	display: grid;
	grid-gap: 3px 0;
	width: 100%;
	height: max-content;
}

svg {
	position: absolute;
	right: 15px;
	top: 15px;
	color: var(--warning-mid, #ED1C24);
	pointer-events: none;
	opacity: 0;
}

svg path {
	fill: var(--warning-mid, #ED1C24);
}

:host([invalid]) .input-wrap svg {
	opacity: 1;
}

::slotted(input),
::slotted(textarea) {
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	padding: 13px 15px;
	margin: 0;
	border: 1px solid #767676;
	border-radius: var(--zoo-input-border-radius, 5px);
	color: #555;
	outline: none;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #FFF;
}

:host([invalid]) .input-wrap ::slotted(input),
:host([invalid]) .input-wrap ::slotted(textarea) {
	border: 2px solid var(--warning-mid, #ED1C24);
	padding: 12px 14px;
}

::slotted(input[type="date"]),
::slotted(input[type="time"]) {
	-webkit-min-logical-height: 48px;
}

::slotted(input::placeholder),
::slotted(textarea::placeholder) {
	color: #767676;
	opacity: 1;
}

::slotted(input:disabled),
::slotted(textarea:disabled) {
	border: 1px solid #E6E6E6;
	background-color: #F2F3F4;
	color: #767676;
	cursor: not-allowed;
}

::slotted(input:focus),
::slotted(textarea:focus) {
	border: 2px solid #555;
	padding: 12px 14px;
}

::slotted(label) {
	grid-area: label;
	align-self: self-start;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: #555;
	text-align: left;
}

slot[name="inputlabel"] {
	display: var(--additional-elements-display, 'flex');
	grid-row: 1;
	align-self: flex-start;
}

.input-wrap {
	flex: 1;
	position: relative;
}

.content {
	display: flex;
	justify-content: stretch;
	position: relative;
	grid-row: 2;
	grid-column: span 2;
	flex: 1;
}

::slotted(zoo-button) {
	margin-left: -5px;

	--zoo-btn-border-radius: 0 5px 5px 0;
}

::slotted(*[slot="info"]),
zoo-input-info {
	grid-row: 3;
	grid-column: span 2;
}

::slotted(*[slot="error"]),
zoo-input-error {
	grid-row: 4;
	grid-column: span 2;
}

::slotted(zoo-link) {
	width: max-content;
	justify-self: end;
}
